.content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 48px;
    padding: 24px;
    outline: 2px solid var(--color-blue-light);
}

.content:hover {
    cursor: pointer;
    outline: 2px solid var(--color-purple-dark);
}

.header {
    display: flex;
    align-items: baseline;
    column-gap: 16px;
}

.number {
    color: var(--color-blue-light);
}
.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}
