.select {
   display: flex;
   flex-direction: column;
   row-gap: 16px;
   max-width: 320px;
   margin: 24px 0 24px 0;
   cursor: pointer;
}
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   outline: 1px solid var(--color-blue-light);
   padding: 10px;
}
.item {
   list-style-type: none;
   border: solid var(--color-blue-light);
   padding: 4px;
   text-align: center;
}
.item:not(:last-of-type) {
   border-bottom: 0;
}
.item:hover {
   background-color: var(--color-blue-light);
   color: black;
   cursor: pointer;
}
