.button {
    width: 50px;
    height: 25px;
    background: transparent;
    color: var(--color-blue-light);
    padding: 4px 8px;
    border: 1px solid var(--color-blue-middle);
}
.button:hover {
    cursor: pointer;
}
