html {
    min-width: 320px;
    height: 100vh;
    background-color: black;
}
* {
    box-sizing: border-box;
}
.titlePage {
    padding-bottom: 32px;
    text-align: center;
}
.title {
    font-size: 24px;
    padding-bottom: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    padding: 16px;
}
.post {
    padding: 16px;
    outline: 1px solid var(--color-blue-dark);
}
.wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}
